* {
  box-sizing: border-box;
  
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background:  hsl(218, 28%, 13%);
    color: #ffff;
    margin:0;
    padding:0;
}

img {
    max-width:100%;
    max-height:100%;
}
/* common styles */

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: hsl(176, 68%, 64%);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}
h3 {
    font-weight: bolder;
}

.text-align-center {
    text-align:center;
}
.margin-top-4 {
    margin-top: 10%;
}
section {
    padding-top: 6em;
    padding-bottom: 6em;
}

header {
    position: relative;
}

/* common styles */

.body-wrapper {
    width: 100%;
}


.intro {
    background: hsl(217, 28%, 15%);
    height: 100vh;
    
}
.image-mountain {
    background-image: url('./images/bg-curvy-desktop.svg');
    background-size: 100% 100%;
    width:100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* .intro:after {
    display: block;
    background-image: url('./images/bg-curvy-desktop.svg');
    content:" ";
    background-size: 100% 100%;
    width:100%;
    height: 300px;
    bottom: 230px;
    z-index: 0;
} */
#navbar {
    padding: 2rem 3rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar> h1 > img {
    width: 150px;
}

.items {
    margin-right: 1em;
}

#intro-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content-box {
    width:50%;
    position: relative;
    z-index: 1;
}
.image-holder {
    text-align: center;
}
.image-holder img{
    width: 60%;
}
.tagline{
    text-align: center;
}
.tagline h1{
    margin:auto;
    margin-top: 0.5em;
    line-height: 1.5em;
}
.tagline p{
    width: 75%;
    margin:auto;
    margin-top: 1.5em;
    line-height: 2em;
    font-size: 1.1em;
}

.button-wrapper {
    text-align: center;
}
.get-started {
    margin: auto;
    margin-top: 1.5em;
    padding: 15px 50px;
    border-radius: 20px;
    border:none;
    background: hsl(198, 60%, 50%);
    font-weight: 600;
    color: inherit;
}

.wrapper-row {
    display: flex;
    align-items: center;
    margin-top: 4em;
    justify-content: space-evenly;
}

.features-col{
    width: 25%;
    text-align: center;
    line-height: 2em;
}

.features-col i {
    font-size: 4em;
    color: hsl(176, 68%, 64%);
}
.medium-row-width {
    width: 90%;
    margin:auto;
    margin-top: 4em;
}

.details-content {
    width: 40%;
    line-height: 2em;
}

.working-link>a{
    color: hsl(176, 68%, 64%);
    line-height: 2em;
    text-decoration: underline;
}

.feedback-card {
    width: 27%;
    padding: 1em 2em;
    background: hsl(219, 30%, 18%);
    border-radius: 10px;
}
.feedback-card p {
    line-height: 1.5em;
}
.feedback-user {
    display: flex;
    margin-top: 2em;
    /* justify-content: space-between; */
}
.feedback-userdetails h4 {
    text-transform: uppercase;
    font-weight: 600;
}
.feedback-userdetails {
    padding-left: 10px;
    line-height: 0;
}

.feedback-user-image {
    width: 60px;
}
.feedback-user-image img {
    border-radius: 50%;
}
.contact-form {
    margin: auto;
    width: 50%;
    padding: 3em; 
    border-radius: 20px;
    text-align: center;
    line-height: 2em;
    background: hsl(217, 28%, 15%);
    position: absolute;
    top: -35%;
    left:50%;
    margin-left: -25%;
}
.contact-form-mobile{
    width: 98%;
    padding: 3em; 
    border-radius: 20px;
    text-align: center;
    line-height: 2em;
    background: hsl(217, 28%, 15%);
}
.input-holder > input {
    width:60%;
    height: 40px;
    border:none;
    padding: 5px 30px;
    border-radius: 20px;
}

footer {
    background: hsl(216, 53%, 9%);
    padding-top: 6em;
    margin-top: 20%;
    position: relative;
    padding-bottom: 6em;
}
.footer-row {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.about {
    width: 35%;
    line-height: 2em;
}

footer ul li {
    padding: 1em;
}

.social-media i {
    font-size: 1.5em;
    margin-left: 1em;
}



.options a{
    display: block;
    padding: 0.5em;
}
.contact-options {
    margin-bottom: 2em;
}

.contact{
    width: 11%;
}



@media screen and (max-width: 460px) {
    #navbar {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .intro {
        height: auto;
    }
    
    .intro-content-box {
        width: 98%;
    }
    section {
        padding-left: 1em;
        padding-right:1em;
    }
    .intro-content-box {
        margin-top: 2em;
    }
    .intro:after {
        background-image: url('./images/bg-curvy-mobile.svg') ;
       
    }
    .wrapper-row {
        flex-direction: column;
        margin-top:0;
    }
    .features-col {
        margin:0;
        margin-top: 2em;
        width: 100%;
    }

    .medium-row-width {
        margin-top: 0;
    }
    .details-content {
        width: 100%;
        text-align: center
    }
    .details-content h1 {
        line-height: 1.5em;
    }
    .feedback-card {
        width: 100%;
        margin-top: 2em;
    }
    .contact-form {
        margin:auto;
        width:90%;
        position: unset;
    }
    .contact-form input {
        width: 100%;
    }
    .about, .contact, .social-media {
        width: 100%;
        justify-content: space-around;
    }

    .options ul {
        text-align: left;
    }
    .options ul li {
        text-align: left;
        margin:0;
        width: 100%;
    }
    .social-media{
        margin-top: 2em;
        padding-left: 0;
    }
    /* .contact-form-mobile {
        display: block;
    } */
}

@media screen and (max-width: 960px) {
    #product-details-section {
        padding-top: 0;
    }
    
    .medium-row-width {
        flex-direction: column;
        margin-top:0;
    }
    .details-content {
        width: 100%;
        text-align: center;
    }
    .feedback-card {
        width: 100%;
        margin-top: 2em;
    }
    .contact-form {
        margin:auto;
        width:90%;
        position: unset;
    }
    .about,  .contact, .social-media {
        width: 100%;
        justify-content: space-around;
    }
    
    .social-media{
        margin-top: 2em;
        padding-left: 0;
    }

    .input-holder{
        width: 100%;
    }
    .input-holder input {
        width: 100%;
    }
    .input-holder button {
        margin-top: 2em;
    }

    .wrapper-row {
        flex-direction: column;
        margin-top: 0;
    }
    .features-col {
        width:90%;
        margin-top: 2em;
    }
    .intro:after {
        bottom: 300px;
    }
}
